.blockList {
    margin: 0 !important; 
    
    .row {
        border-top: 1px solid #575555;
        background: #343333;
        padding: 18px 0 !important;
        
        .column:last-child {
            display: flex;
            justify-content: flex-start;
        }
    
        p {
            display: inline;
            margin-right: 10px;
            width: 480px;
        }

        i {
            height: auto !important;
            padding: 0 !important;
        }
    }

    .button {
        box-shadow: none;
        margin-left: 5px;
        padding: 0 3px !important;
        border-radius: 0 !important;
        background: #494949 !important;
        display: flex;
        align-items: center;
        border-radius: 2px !important;

        &:first-child {
            margin-left: 10px;
        }
    
        &:hover {
            opacity: 0.7;
        }

        .navIcon {
            color: #ffffff !important;
            margin-right: 0 !important;
        }
    }
}