.collapsableCard {
    margin-top: 35px;
    user-select: none;
}

.collapsableCard .ui.accordionSegment { 
    border-top: 2px solid #00FFD1 !important;
    background: #444444 !important;
    padding-bottom: 0;
    transition: background 0.2s ease-in-out;
}

.collapsableCard .ui.accordionSegment.closed {
    background: #343333 !important;
}

.collapsableCard .accordionTitle {
    color: inherit !important;
    cursor: pointer !important;
    padding-bottom: 18px !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.collapsableCard .accordionTitle h3 {
    margin: 0;
    margin-right: 15px;
}

.collapsableCard .accordionTitle :first-child{
    margin-right: 10px;
}

.collapsableCard .accordionTitle .icon {
    height: auto !important;
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
}

.collapsableCard .closed .accordionTitle .icon {
    transform: rotate(0deg);
}
