.collapsableCard {
    margin-top: 35px;
    user-select: none;
}

.collapsableCard .ui.accordionSegment { 
    border: none;
    border-top: 2px solid #00FFD1 !important;
    background: #444444 !important;
    padding-bottom: 0;
    transition: background 0.2s ease-in-out;
    overflow: hidden;
}

.collapsableCard .ui.accordionSegment.borderless { 
    border: none !important;
}

.collapsableCard .ui.accordionSegment.closed {
    background: #343333 !important;
}

.collapsableCard .accordionTitle {
    color: inherit !important;
    cursor: pointer !important;
    padding-bottom: 18px !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.collapsableCard .accordionTitle h3 {
    margin: 0;
}

.collapsableCard .accordionTitle .countLabel {
    background: #121212;
    border-radius: 4px;
    font-size: 16px;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-left: 5px;
}

.collapsableCard .accordionTitle :first-child{
    margin-right: 10px;
}

.collapsableCard .accordionTitle .icon {
    height: auto !important;
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
    margin-left: 15px;
}

.collapsableCard .closed .accordionTitle .icon {
    transform: rotate(0deg);
}

/* Collapsable Children  */
.collapsableCard .collapsableCard {
    margin-top: 0;
    margin-bottom: 10px;
}

.collapsableCard .collapsableCard .accordion.ui {
    margin: 0;
}

.collapsableCard .collapsableCard .ui.accordionSegment.closed {
    background: #444444 !important;
}

.collapsableCard .collapsableCard .accordionTitle h3 {
    margin: 0;
}
