.container{
    background: #2D2D2D;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
}

.section {
    display: flex;
    align-items: center; 
    margin: 0 15px;
}

.action {
    cursor: pointer;
    margin-right: 15px;
}

.copyright {
    color: #797777;
    margin-left: 15px;
}

.svg {
    fill:white; 
    cursor: pointer;
}