.dataView {
    width: 100%;

    .outerColumn {
        padding-left: 0 !important;
        padding-right: 0 !important;

        .segmentContainer {
            background: #121212 !important;
            border-radius: 0; 

            .row {
                border-top: 1px solid #575555;
                background: #343333 !important;
                padding: 18px 0 !important;

                &:last-child .column {
                    display: flex !important;
                    justify-content: flex-start;
                    align-items: center;
                }

                .column {
                    &:last-child {
                        display: flex !important;
                        justify-content: flex-start;
                    }
                    
                    p {
                        display: inline;
                        margin: 0;
                        margin-right: 10px;
                        width: 462px;
                    }
                    
                    i {
                        height: auto !important;
                        padding: 0 !important;
                    }
                }
            }
        }
    }
}

